{{#each this}}
<div class="card">
    <div>
        <h1 class="card-country">{{name}}</h1>
        <p class="card-capital">Capital: {{capital}}</p>
        <p class="card-population">Population: {{population}}</p>
        <p class="card-language">Languages:</p>
        <ul class="list"> 
            {{#each languages}}
                <li class="list-language-item">
                    {{name}}
                </li>
            {{/each}}
        </ul>
    </div>
    
    <div class="flag">
        <img src="{{flag}}" alt="flag" class="card-flag">
    </div>

</div>
{{/each}}
