{{#each this}}
<div class="cards">
    <div>
        <h1 class="card-name">{{name}}</h1>
        <p class="card-item">Capital: {{capital}}</p>
        <p class="card-item">Population: {{population}}</p>
        <h class="card-item">Language:{{language.name}}</h>
        <ul class="list">
            {{#each languages}}
            <li class="list-language-item">
                {{name}}
            </li>
            {{/each}}
        </ul>
    </div>

    <div class="flag">
        <img src="{{flag}}" alt="flag" class="card-flag">
    </div>

</div>
{{/each}}